<link href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="icon" href="/media/logo_title.png">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Login!</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!-- My CSS -->
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    

<div class="had-container">

	             
            <div class="row">
                <div class="col m6 s6 offset-m3 offset-s3 center">
                    
                    <div class="col m12 s12 z-depth-2 card-panel">   
                    </br> 
                        <img src="/static/logo.png" alt="" class="squad responsive-img">
                        <div class="row login">
                            <h4>Login</h4>
                            
                            <form method ="post" class="col m12 s12">
                                {% csrf_token %}
                                {{form}}
                                <input type ="hidden" name="next" value ="{{ next }}">
                                {% comment %} <div class="row">
                                    <div class="input-field col m12 s12">
                                    <i class="material-icons iconis prefix">account_box</i>
                                    <input id="icon_prefix" type="text" class="validate">
                                    <label for="icon_prefix">Usuário</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col m12 s12">
                                    <i class="material-icons iconis prefix">enhanced_encryption</i>
                                    <input id="password" type="password" class="validate">
                                    <label for="password">Senha</label>
                                    </div>
                                </div> {% endcomment %}
                                <div class="row">
                                    <button class="btn waves-effect waves-light deep-purple" type="submit">Entrar</button>
                                </div>
                                <div class="row">
                        <div class="input-field col s6 m6 l6">
                            <p class="margin medium-small"><a href="#">Solicitar Cadastro!</a></p>
                        </div>
                        <div class="input-field col s6 m6 l6">
                            <p class="margin right-align medium-small"><a href="#">Esqueceu a Senha?</a></p>
                        </div>          
                        </div>
                            </form>
                            
                        </div>
                    </div>    
                  

                </div>
	    	</div>


</div> 


 {% comment %} <div class ="row">
    <div class = "col m12 s12 offset-m2 offset-s2 ">
        <div class ="container" >
            <div class="col m12 s12  offset-m2 offset-s2 ">
                <h4>   Login Ejc </h4>
            </div>       
            <div id="login-page" class="col m12 s12">
                <div class="col m6 s12 z-depth-3 card-panel">
                    <form class="login-form">
                        <div class="row">
                        </div>
                        <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">mail_outline</i>
                            <input class="validate" id="email" type="email">
                            <label for="email" data-error="wrong" data-success="right">Email</label>
                        </div>
                        </div>
                        <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">lock_outline</i>
                            <input id="password" type="password">
                            <label for="password">Password</label>
                        </div>
                        </div>
                        <div class="row">          
                        <div class="input-field col s12 m12 l12  login-text">
                            <input type="checkbox" id="remember-me" />
                            <label for="remember-me">Remember me</label>
                        </div>
                        </div>
                        <div class="row">
                        <div class="input-field col s12">
                            <a href="#" class="btn waves-effect waves-light col s12">Login</a>
                        </div>
                        </div>
                        <div class="row">
                        <div class="input-field col s6 m6 l6">
                            <p class="margin medium-small"><a href="#">Register Now!</a></p>
                        </div>
                        <div class="input-field col s6 m6 l6">
                            <p class="margin right-align medium-small"><a href="#">Forgot password?</a></p>
                        </div>          
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>      
     {% endcomment %}

{% comment %} <footer class="page-footer grey darken-4">
    <div class="footer-copyright">
        <div class="container center">
        	Copyright © 2017 - Miguel92
        </div>
    </div>
</footer> {% endcomment %}

    <!-- jQuery first, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="mySpxript.js"></script>
  </body>
</html>