 {% load staticfiles %}
 <!DOCTYPE html>
  <html>
    <head>
      <title>
         {% block title %}
         {% endblock title %}
      </title>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <!--Import materialize.css-->
      <!--<link type="text/css" rel="stylesheet" href= "{% static 'css/materialize.css' %}"  media="screen,projection"/>-->
       <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">    
      <!--Import do jquery-->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
   
      <!-- Dropdown Structure -->
      <ul id="dropdown_cad" class="dropdown-content">
        <li><a href="{% url 'lista_servos' %}">Servo</a></li>
        <li><a href="#!">Equipe</a></li>
        <li class="divider"></li>
        <li><a href="#!">Paróquia</a></li>
        <li><a href="#!">Encontro</a></li>
      </ul>
      <ul id="dropdown_rot" class="dropdown-content">
      </ul>
      <ul id="dropdown_mat" class="dropdown-content">
        <li><a href="#!">Lista de Materiais</a></li>
        <li><a href="#!">Lista de Compras</a></li>
      </ul>

      <nav>
        <div class="nav-wrapper">
          <a href="{% url 'home' %}" class=" right brand-logo">EJC HELIPA</a>
          <ul class="left hide-on-med-and-down">
            <li><a class='dropdown-trigger ' href='#' data-target='dropdown_cad'>Cadastros</a></li>
            <li><a class='dropdown-trigger ' href='#' data-target='dropdown_rot'>Roteiros</a></li>
            <li><a href='#'>Notícias</a></li>
            <li><a href='#'>Materiais</a></li>
            <li><a href='#'>Fichas</a></li>
            <li><a href='#'>Eventos</a></li>
            <li><a href='#'>Arquivos</a></li>
            <li><a href='#'>Finanças</a></li>
          </ul>
        </div>
      </nav>
      <div class='container'>
        {% block content %}
        {% endblock content %}
      </div>
      <!--JavaScript at end of body for optimized loading-->
      <!--<script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>-->
      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <!-- Script para o DropDown-->
      <script>$('.dropdown-trigger').dropdown( { coverTrigger:false , hover:true} );</script>
    </body>
  </html>


  