{% extends 'base.html' %}
{% block title %}
Novo Encontro
{% endblock title %}}
{% block content %}
    
   <div class=" container col s12 m12 l12">
      <div id="Form-advance" class="card card card-default scrollspy">
        <div class="card-content">
          <h4 class="card-title">Novo Encontro</h4>
          <form method = "Post" class="col s12">
            {% csrf_token %}
            <!--Primeira Linha-->
              <div class="row">
                <div class="input-field col m6 s12 ">
                  <label for="{{form.ano.id_for_label}}" >Ano do Encontro</label>
                  {{form.ano}}
                </div>
                <div class="input-field col m6 s12">
                  <label for="{{form.tema.id_for_label}}">Tema</label>
                  {{form.tema}}
                </div>
              </div>
            <!--Segunda Linha-->  
              <div class="row">
                <div class="input-field col s12">
                  <label for="{{form.local.id_for_label}}">Local</label>
                  {{form.local}}
                </div>
              </div>
            <!--Terceira Linha--> 
              <div class="row">                  
                <div class="input-field col m4 s12">
                  {{ form.dt_ini.errors }}
                  <label for="{{form.dt_ini.id_for_label}}">Ínicio</label>
                  {{form.dt_ini}}
                </div>
                <div class="input-field col m4 s12">
                  {{ form.dt_fim.errors }}
                  <label for="{{form.dt_fim.id_for_label}}">Final</label>
                  {{form.dt_fim}}
                </div>
              </div>
            <!--Quarta Linha linha-->
              <div class="row">
                <div class="input-field col s12">
                  {{form.desc}}
                  <label for="{{form.desc.id_for_label}}">Descrição do Encontro</label>
                </div>
              </div>
            <!--Quinta Linha--> 
              <div class="row">
                <div class="input-field col m2 s12">
                  <label for="{{form.cep.id_for_label}}" >Cep</label>
                  {{form.cep}}
                </div>
                <div class="input-field col m8 s12">
                  <label for="{{form.logradouro.id_for_label}}" >Endereço</label>
                  {{form.logradouro}}
                </div>
                <div class="input-field col m2 s12">
                  <label for="{{form.numero.id_for_label}}">Nº</label>
                  {{form.numero}}
                </div>
              </div>
            <!--Sexta Linha-->
              <div class="row">            
                <div class="input-field col m7 s12">
                  <label for="{{form.complemento.id_for_label}}" >Complemento</label>
                  {{form.complemento}}
                </div>
                <div class="input-field col m5 s12">
                  <label for="{{form.bairro.id_for_label}}">Bairro</label>
                  {{form.bairro}}
                </div>
              </div>
            <!--Sétima Linha-->
              <div class="row">
                <div class="input-field col m6 s12">
                    <label for="{{form.localidade.id_for_label}}" >Cidade</label>
                    {{form.localidade}}
                  </div>
                  <div class="input-field col m1 s12">
                    <label for="{{form.uf.id_for_label}}">UF</label>
                    {{form.uf}}
                  </div>
              </div>

            <!--Botões --> 
              <div class="row">
                  <div class="input-field col s12">
                    <button class="btn-small cyan waves-effect waves-light right" type="submit" >Salvar
                      <i class="material-icons right">send</i>
                    </button> 
                    <a href = "{% url 'lista' %}" class="waves-effect waves-light btn-small red darken-1">
                      <i class="material-icons left">do_not_disturb</i>
                      Cancelar</a>
                  </div>
              </div>

          </form>
        </div>
      </div>
    </div>
{% endblock content %}