{% extends 'base.html' %}
{% load static %}
{% block title %}
    Servos
{% endblock title %}

{% block content %}
    <!-- CAMPO DE BUSCA-->
    <div class = 'row'>
        <form method="get">
            <div class = "col-lg-12">
                <div ="input-group">
                    <input type ="text" class ="form-control" name="busca" placeholder ="Buscar Servo" >
                    <span class ="input-group-btn">
                        <button class ="btn btn-default" type = "submit" >Pesquisa</button>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <!--PAINEL DE ORDENAÇÃO-->
    <panel class = "panel panel-default">
        <div class = "panel-heading">
            <h2 class="panel-title">Ordenar</h2>
        </div>
        <div class = "panel-body">
            <form method="get">
                <div class = "btn-group" role = "group">
                    {% with cat=request.GET.ordenar %}
                        <button type="submit" class="btn btn-small waves-effect waves-light  {% if cat == 'nome' %} disabled {% endif %}" name="ordenar" value="nome">Nome A-Z</button>
                        <button type="submit" class="btn btn-small waves-effect waves-light  {% if cat == '-nome' %} disabled {% endif %}" name="ordenar" value="-nome">Nome Z-A</button>
                        <button type="submit" class="btn btn-small waves-effect waves-light  {% if cat == 'dtcriacao' %} disabled {% endif %}"   name="ordenar" value="dtcriacao">Mais antigos</button>
                        <button type="submit" class="btn btn-small waves-effect waves-light   {% if cat == '-dtcriacao' %} disabled {% endif %}"  name="ordenar" value="-dtcriacao">Mais novos</button>
                         <a  href = "{% url 'new_servo' %}"class="btn-floating btn-small waves-effect waves-light  right"><i class="material-icons">add</i></a
                    {% endwith %}
                </div>
            </form>
        </div>

    </panel>
    <!--Lista de Servos-->
    <table class="table">
        <thead>

            <th>*</th>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Equipe</th>
            <th>Paróquia</th>
            <th>Ação</th>

        </thead>

        <tbody>
            {% for servo in servos %}
                <tr>
                    <td>
                        <div class = "thumbnail" >
                        {% if servo.foto %}
                           <img class="responsive-img z-depth-4" height ="20" width ='45'  src="{{ servo.foto.url }}" >
                        {% endif %}
                        </div>
                    </td>
                    <td>{{ servo.nome}}</td>
                    <td>{{ servo.sobrenome }}</td>
                    <td>equipe</td>
                    <td>{{ servo.paroquia}}</td>
                    <td>
                        <a href="{% url 'upd_servo' servo.pk %}" ><i class= "material-icons">mode_edit</i></a>
                        <a href=" {% url 'del_servo' servo.pk %}" ><i class= "material-icons">delete</i></a>
                    </td>
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <!--Paginação-->
    <div class ="pagination">
        <span class = "step-links">
            {% if servos.has_previous %}
                <a href ="?page={{servos.previous_page_number}}">Anterior</a>
            {% endif %}   

            <span class = "step-links">
                Página {{servos.number}} de {{servos.paginator.num_pages}}.
            </span>
            {% if  servos.has_next%}
                <a href ="?page={{servos.next_page_number}}">Próxima</a>
            {% endif %}  

        </span>
    </div>
{% endblock content %}