{% extends 'base.html' %}
{% load static %}
{% load montagem_extras %}
{% block title %}
    Servos
{% endblock title %}

{% block content %}

<div class="row ">
     <!-- sidebar-->
    <div class="col s3 m3 l3">
        <div class="sidebar-left sidebar-fixed">
            <div class="sidebar">
                <div class="sidebar-content">
                    <div class="sidebar-header">
                        <div class="sidebar-details">
                            <h5 class="m-0 sidebar-title"><i class="material-icons app-header-icon text-top">perm_identity</i> Servos</h5>
                            <div class="mt-10 pt-2">
                                <p class="m-0 subtitle font-weight-700">Total de servos : {{quant}}</p>
                            </div>
                        </div>
                    </div>
                    <div id="Form-advance" class="card card card-default scrollspy">
                        <div class="card-content">
                            <div id="sidebar-list" class="sidebar-menu list-group position-relative animate fadeLeft delay-1 ps ps--active-y">
                                <div class="sidebar-list-padding app-sidebar" id="contact-sidenav">
                                    <ul class="contact-list display-grid">
                                        <li class="sidebar-title">Filtros</li>
                                        <!-- Menu Lateral - Filtro Equipes-->
                                        <form method="get">
                                        <li>
                                            <ul class="collapsible " style="margin: 0!important;padding: 0!important;border: 0!important;box-shadow: none!important;">
                                                <li>
                                                    <div class="collapsible-header" ><a href="#!" class="text-sub"><i class="material-icons mr-2"> star_border </i> Todos os Servos</a></div>
                                                  </li>
                                                <li>
                                                  <div class="collapsible-header" ><i class="material-icons">filter_drama</i>Equipes</div>
                                                  <div class="collapsible-body">
                                                    <button type="submit" class=" btn-flat {% if cat == 'nome' %} disabled {% endif %}" name="filtra_Equipe" value="animacao"><i class="amber-text material-icons small-icons mr-2">
                                                       theaters </i> Animação</button><br>
                                                    <button type="submit" class=" btn-flat {% if cat == 'nome' %} disabled {% endif %}" name="filtra_Equipe" value="co_gerais"><i class="amber-text material-icons small-icons mr-2">
                                                       theaters </i>Chefinhos</button><br>
                                                    <button type="submit" class=" btn-flat {% if cat == 'nome' %} disabled {% endif %}" name="filtra_Equipe" value="circulo"><i class="amber-text material-icons small-icons mr-2">
                                                       theaters </i> Círculo</button><br>
                                                    <button type="submit" class=" btn-flat {% if cat == 'nome' %} disabled {% endif %}" name="filtra_Equipe" value="compras"><i class="amber-text material-icons small-icons mr-2">
                                                       theaters </i> Compras</button><br>
                                                    <button type="submit" class=" btn-flat {% if cat == 'nome' %} disabled {% endif %}" name="filtra_Equipe" value="cozinha"><i class="amber-text material-icons small-icons mr-2">
                                                       theaters </i> Cozinha</button><br>
                                                    <button type="submit" class=" btn-flat {% if cat == 'nome' %} disabled {% endif %}" name="filtra_Equipe" value="dirigentes"><i class="amber-text material-icons small-icons mr-2">
                                                       theaters </i> Dirigência</button><br>
                                                    <button type="submit" class=" btn-flat {% if cat == 'nome' %} disabled {% endif %}" name="filtra_Equipe" value="faxina"><i class="amber-text material-icons small-icons mr-2">
                                                       theaters </i> Faxina e Limpeza</button><br>
                                                    <button type="submit" class=" btn-flat {% if cat == 'nome' %} disabled {% endif %}" name="filtra_Equipe" value="interc"><i class="amber-text material-icons small-icons mr-2">
                                                       theaters </i> Intercessão</button><br>
                                                    <button type="submit" class=" btn-flat {% if cat == 'nome' %} disabled {% endif %}" name="filtra_Equipe" value="lanche"><i class="amber-text material-icons small-icons mr-2">
                                                       theaters </i> Lanche</button><br>
                                                    <button type="submit" class=" btn-flat {% if cat == 'nome' %} disabled {% endif %}" name="filtra_Equipe" value="liturgia"><i class="amber-text material-icons small-icons mr-2">
                                                       theaters </i> Liturgia</button><br>
                                                    <button type="submit" class=" btn-flat {% if cat == 'nome' %} disabled {% endif %}" name="filtra_Equipe" value="ordem"><i class="amber-text material-icons small-icons mr-2">
                                                       theaters </i> Ordem e Trânsito</button><br>
                                                    <button type="submit" class=" btn-flat {% if cat == 'nome' %} disabled {% endif %}" name="filtra_Equipe" value="sala"><i class="amber-text material-icons small-icons mr-2">
                                                       theaters </i> Sala</button><br>
                                                    <button type="submit" class=" btn-flat {% if cat == 'nome' %} disabled {% endif %}" name="filtra_Equipe" value="secretaria"><i class="amber-text material-icons small-icons mr-2">
                                                       theaters </i> Secretaria</button><br>
                                                    <button type="submit" class=" btn-flat {% if cat == 'nome' %} disabled {% endif %}" name="filtra_Equipe" value="visitacao"><i class="amber-text material-icons small-icons mr-2">
                                                       theaters </i> Visitação</button>
                                            
                                                  </div>
                                                </li>

                                              </ul>
                                        </li>   
                                       </form> 
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Lista de Servo-->
    <div class="col s9 m9 l9">
            <div id="Form-advance" class="card card card-default scrollspy">
            <div class="card-content">
                <!--Campo de Busca-->
                <div class="row">
                    <div class="input-field col s12">
                        <form method="get">
                            <i class="material-icons prefix">search</i>
                            <input type ="text" class ="form-control" name="busca" placeholder ="Buscar Servo" >
                        </form>
                    </div>
                </div>
                <!--Lista de Servos-->
                <table class =" centered highlight responsive-table striped">
                    <thead>

                        <th>Servo</th>
                        <th>Nome</th>
                        <th>Sobrenome</th>
                        <th>Idade</th>
                        <th>Equipe Atual</th>
                        <th>Estado Atual</th>
                        <th>Paróquia</th>
                        <th>Ação</th>

                    </thead>

                    <tbody>
                        {% for servo in servos %}
                            <tr>
                                <td>
                                    <div class = "thumbnail" >
                                    {% if servo.foto %}
                                    <img class="responsive-img z-depth-4" height ="20" width ='45'  src="{{ servo.foto.url }}" >
                                    {% endif %}
                                    </div>
                                </td>
                                <td>{{ servo.nome}}</td>
                                <td>{{ servo.sobrenome }}</td>
                                <td>{{ servo.idade }}</td>
                                <td>{{ servo.id|busca_equipe }}</td>
                                <td>{{ servo.id|busca_status_equipe }}</td>
                                <td>{{ servo.paroquia}}</td>
                                <td>
                                    <a href="{% url 'upd_servo' servo.pk %}" ><i class= "material-icons mr-2">edit</i></a>
                                    <a href=" {% url 'del_servo' servo.pk %}" ><i class= "material-icons mr-2">delete_outline</i></a>
                                </td>
                                
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                    <!--Paginação-->
                <div class ="pagination">
                    <span class = "step-links">
                        {% if servos.has_previous %}
                            <a href ="?page={{servos.previous_page_number}}">Anterior</a>
                        {% endif %}   

                        <span class = "step-links">
                            Página {{servos.number}} de {{servos.paginator.num_pages}}.
                        </span>
                        {% if  servos.has_next%}
                            <a href ="?page={{servos.next_page_number}}">Próxima</a>
                        {% endif %}  

                    </span>
                </div>
            </div>    
        </div>
    </div>
    
</div>
{% endblock content %}
